In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv("C:/Users/HP/OneDrive/Desktop/breast-cancer.csv")

In [3]:
df.info

<bound method DataFrame.info of      Unnamed: 0                 Class    Age Menopause Tumor-size Inv-nodes  \
0             0  no-recurrence-events  30-39   premeno      30-34       0-2
1             1  no-recurrence-events  40-49   premeno      20-24       0-2
2             2  no-recurrence-events  40-49   premeno      20-24       0-2
3             3  no-recurrence-events  60-69      ge40      15-19       0-2
4             4  no-recurrence-events  40-49   premeno        0-4       0-2
..          ...                   ...    ...       ...        ...       ...
281         281     recurrence-events  30-39   premeno      30-34       0-2
282         282     recurrence-events  30-39   premeno      20-24       0-2
283         283     recurrence-events  60-69      ge40      20-24       0-2
284         284     recurrence-events  40-49      ge40      30-34       3-5
285         285     recurrence-events  50-59      ge40      30-34       3-5

    Node-caps  Deg-malig Breast Breast-quad Irradiat
0          no          3   left    left_low       no
1          no          2  right    right_up       no
2          no          2   left    left_low       no
3          no          2  right     left_up       no
4          no          2  right   right_low       no
..        ...        ...    ...         ...      ...
281        no          2   left     left_up       no
282        no          3   left     left_up      yes
283        no          1  right     left_up       no
284        no          3   left    left_low       no
285        no          3   left    left_low       no

[286 rows x 11 columns]>

In [4]:
df.columns

Index(['Unnamed: 0', 'Class', 'Age', 'Menopause', 'Tumor-size', 'Inv-nodes',
       'Node-caps', 'Deg-malig', 'Breast', 'Breast-quad', 'Irradiat'],
      dtype='object')

In [5]:
df.shape

(286, 11)

In [6]:
df.describe()

       Unnamed: 0   Deg-malig
count    286.0000  286.000000
mean     142.5000    2.048951
std       82.7053    0.738217
min        0.0000    1.000000
25%       71.2500    2.000000
50%      142.5000    2.000000
75%      213.7500    3.000000
max      285.0000    3.000000

In [7]:
df.tail()

,Unnamed: 0,Class,Age,Menopause,Tumor-size,Inv-nodes,Node-caps,Deg-malig,Breast,Breast-quad,Irradiat
281,281,recurrence-events,30-39,premeno,30-34,0-2,no,2,left,left_up,no
282,282,recurrence-events,30-39,premeno,20-24,0-2,no,3,left,left_up,yes
283,283,recurrence-events,60-69,ge40,20-24,0-2,no,1,right,left_up,no
284,284,recurrence-events,40-49,ge40,30-34,3-5,no,3,left,left_low,no
285,285,recurrence-events,50-59,ge40,30-34,3-5,no,3,left,left_low,no

In [8]:
df.fillna

<bound method DataFrame.fillna of      Unnamed: 0                 Class    Age Menopause Tumor-size Inv-nodes  \
0             0  no-recurrence-events  30-39   premeno      30-34       0-2
1             1  no-recurrence-events  40-49   premeno      20-24       0-2
2             2  no-recurrence-events  40-49   premeno      20-24       0-2
3             3  no-recurrence-events  60-69      ge40      15-19       0-2
4             4  no-recurrence-events  40-49   premeno        0-4       0-2
..          ...                   ...    ...       ...        ...       ...
281         281     recurrence-events  30-39   premeno      30-34       0-2
282         282     recurrence-events  30-39   premeno      20-24       0-2
283         283     recurrence-events  60-69      ge40      20-24       0-2
284         284     recurrence-events  40-49      ge40      30-34       3-5
285         285     recurrence-events  50-59      ge40      30-34       3-5

    Node-caps  Deg-malig Breast Breast-quad Irradiat
0          no          3   left    left_low       no
1          no          2  right    right_up       no
2          no          2   left    left_low       no
3          no          2  right     left_up       no
4          no          2  right   right_low       no
..        ...        ...    ...         ...      ...
281        no          2   left     left_up       no
282        no          3   left     left_up      yes
283        no          1  right     left_up       no
284        no          3   left    left_low       no
285        no          3   left    left_low       no

[286 rows x 11 columns]>

In [9]:
df.loc(0)

In [10]:
df.head()

,Unnamed: 0,Class,Age,Menopause,Tumor-size,Inv-nodes,Node-caps,Deg-malig,Breast,Breast-quad,Irradiat
0,0,no-recurrence-events,30-39,premeno,30-34,0-2,no,3,left,left_low,no
1,1,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,right,right_up,no
2,2,no-recurrence-events,40-49,premeno,20-24,0-2,no,2,left,left_low,no
3,3,no-recurrence-events,60-69,ge40,15-19,0-2,no,2,right,left_up,no
4,4,no-recurrence-events,40-49,premeno,0-4,0-2,no,2,right,right_low,no

In [11]:
df.isnull()

,Unnamed: 0,Class,Age,Menopause,Tumor-size,Inv-nodes,Node-caps,Deg-malig,Breast,Breast-quad,Irradiat
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
281,False,False,False,False,False,False,False,False,False,False,False
282,False,False,False,False,False,False,False,False,False,False,False
283,False,False,False,False,False,False,False,False,False,False,False
284,False,False,False,False,False,False,False,False,False,False,False
285,False,False,False,False,False,False,False,False,False,False,False

In [12]:
df.isnull().sum()

Unnamed: 0     0
Class          0
Age            0
Menopause      0
Tumor-size     0
Inv-nodes      0
Node-caps      0
Deg-malig      0
Breast         0
Breast-quad    0
Irradiat       0
dtype: int64